@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;

  --scissors: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));

  --background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
}
body {
  height: 100vh;
  background: var(--background);
  padding-top: 50px;
}
header {
  width: 700px;
  margin: auto;
  margin-bottom: 60px;
  border: 3px solid var(--header-outline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  border-radius: 20px;
}
.score {
  background: #fff;
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  color: var(--dark-text);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: 700;
}
.score::before {
  content: "score";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--score-text);
}

.game {
  margin: auto;
  width: 500px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  position: relative;
  gap: 80px;
}
.triangle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.game div {
  margin: auto;
  display: grid;
  place-items: center;
  background: #dedede;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 8px #b9c1d3;
  cursor: pointer;
}
.game div img {
  transform: scale(1.3);
}
.game div:last-child {
  grid-column: 1 / span 2;
}
.game div::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}
.rock::before {
  background: var(--rock);
  box-shadow: 0 8px #9a1833;
}
.paper::before {
  background: var(--paper);
  box-shadow: 0 8px #2844bf;
}
.scissors::before {
  background: var(--scissors);
  box-shadow: 0 8px #c86c19;
}

.result {
  display: none;
  grid-template-columns: auto auto;
  width: 700px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
}
.play-again {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  animation: fade-in 1s linear 3s forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}
.play-again h1 {
  font-size: 3em;
}
.play-again button {
  margin-top: 20px;
  border: none;
  padding: 20px 70px;
  border-radius: 5px;
  letter-spacing: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.play-again button:hover {
  color: red;
}
#player-result,
#computer-result {
  margin: auto;
  display: grid;
  place-items: center;
  background: #dedede;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 8px #b9c1d3;
  margin-top: 80px;
}
#computer-result {
  opacity: 0;
  transition-delay: 1s;
}
.player,
.computer {
  display: flex;
  flex-direction: column;
}
.player {
  animation: move-left 1.5s linear forwards 2s;
}
.computer {
  animation: move-right 1.5s linear forwards 2s;
}
@keyframes move-right {
  to {
    transform: translateX(150px);
  }
}
@keyframes move-left {
  to {
    transform: translateX(-150px);
  }
}
.load {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
#player-result::before,
#computer-result::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  z-index: -1;
}
#player-result img,
#computer-result img {
  transform: scale(2);
}

.rules-button {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: 30px;
  width: 120px;
  height: 40px;
  border: 1px solid #fff;
  display: grid;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
.rules {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  z-index: 2;
}
.rules-content {
  background: #fff;
  position: absolute;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rules .head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: var(--dark-text);
}
.rules .head img {
  cursor: pointer;
}
.winner {
  position: relative;
}
.winner::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ripple 1.5s ease-in-out infinite alternate;
  z-index: -3;
}
@keyframes ripple {
  from {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.1),
      0 0 0 120px rgba(255, 255, 255, 0.05),
      0 0 0 160px rgba(255, 255, 255, 0.025);
  }
  to {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0),
      0 0 0 100px rgba(255, 255, 255, 0), 0 0 0 140px rgba(255, 255, 255, 0);
  }
}

@media screen and (max-width: 950px) {
  header {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
  }
  header img {
    width: 100px;
  }
  .score {
    width: 80px;
    height: 70px;
    font-size: 3em;
    border-radius: 5px;
  }
  .score::before {
    font-size: 12px;
    transform: translateY(7px);
  }
  .game {
    width: 300px;
    gap: 40px;
  }
  .game div {
    width: 90px;
    height: 90px;
  }
  .game div::before {
    width: 110px;
    height: 110px;
  }
  .game div img {
    transform: scale(0.8);
  }
  .triangle {
    width: 210px;
  }
  .player,
  .computer {
    flex-direction: column-reverse;
    font-size: 0.6em;
    align-items: center;
  }
  .player {
    animation: none;
  }
  .computer {
    animation: none;
  }

  .result {
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 20%;
    letter-spacing: 2px;
  }
  .play-again {
    top: 150%;
    font-size: 0.8em;
  }
  .play-again button {
    padding: 15px 30px;
    margin-top: 10px;
  }
  #player-result,
  #computer-result {
    width: 90px;
    height: 90px;
    margin-top: 0;
  }
  #player-result::before,
  #computer-result::before {
    width: 110px;
    height: 110px;
  }
  #player-result img,
  #computer-result img {
    transform: scale(0.8);
  }
  .result h2 {
    margin-top: 40px;
    text-align: center;
  }
  .load {
    width: 90px;
    height: 90px;
    top: 0%;
  }
  .rules-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .rules-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .rules-content > img {
    margin-top: 60px;
  }
  .rules .head {
    justify-content: center;
  }
  .rules .head img {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .winner::after {
    width: 100px;
    height: 100px;
  }

  @keyframes ripple {
    from {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 40px rgba(255, 255, 255, 0.05),
        0 0 0 60px rgba(255, 255, 255, 0.025);
    }
    to {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0),
        0 0 0 30px rgba(255, 255, 255, 0), 0 0 0 50px rgba(255, 255, 255, 0);
    }
  }
}
